@import 'style/variables';
@import 'style/mixins';

.show-poster {
  @include cover;
  @include center;

  background-color: $grey-lighter;
  color: rgba(#000, 0.3);
}

.show-poster img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}