@import 'style/variables';
@import 'style/mixins';

.rating-list-container {
  max-height: 400px;
  overflow: auto;
    
  .rating-list-empty {
    @include center;
    flex-direction: center;
    height: 60px;
    opacity: 0.6;

    .link-primary {
      margin-top: 9px;
    }
  }

  .delete-rating {
    color: $grey-light;
    cursor: pointer;

    &:hover {
      color: $primary;
    }
  }
}
