$primary: #e50914;
$white: #fefeff;

$grey-darker: #222222;
$grey-medium: #777777;
$grey-light: #dddddd;
$grey-lighter: #eeeeee;
$grey-lightest: #f4f4f4;

$panel-padding-x: 18px;
$panel-padding-y: 21px;

$shadow-color: rgba(0, 0, 0, 0.15);
