@import 'style/variables';
@import 'style/mixins';

.app {
  @include cover;
  display: flex;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 460px;

  .app-title {
    color: $primary;
    margin-bottom: 51px;
  }

  .rating-presets-title {
    margin-top: 12px;
  }

  .add-ratings-section {
    flex: 0 0 auto;
  }

  .panel:not(:last-child) {
    margin-bottom: 30px;
  }

  .current-user-panel {
    flex: 0 0 auto;
  }
}

.app-graph {
  flex: 1;
}
