@import 'style/variables';
@import 'style/mixins';

.app {
  @include cover;
  display: flex;
}

.app-sidebar {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 460px;

  .app-title {
    color: $primary;
    margin-bottom: 60px;
  }
}

.app-graph {
  flex: 1;
}
